body {
	padding: 15px;
	box-sizing: border-box;
}
.rooms {
	margin-left: 20px;
	display: none;
}

.rooms .room.active a, .rooms .room a:hover {
	background-color: #eee !important;
	color: #2a6496 !important;
}

#plans {
	list-style: none;
	padding: 0;
	margin: 0;
}
#plans li {
	display: none;
}

#plans li	div {
	margin: 0 auto;
}

#plans li.active {
	display: block;
}

#stages .stage.active .rooms {
	display: block;
}